body{
    text-align: center;
    margin-top:250;
    margin-left:550;
    margin-right:550;
    margin-bottom:700;
}
form{
    background: linear-gradient(black,white);
    border: solid white;
    border-radius: 15px;    
}
strong{
   color: blue
}
html{
    background-color:wheat;
}